.header {
  z-index: 1;
  background-color: #f5f5f5;
}

.headerFirstLine {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.greetings {
  width: 35%;
}

.videoContainer {
  width: 100%;
  height: 70vh;
}

.noVideoContainer {
  width: 100%;
  display: inline-grid;
  justify-items: center;
}

.noVideoImage {
  max-width: 40vh;
  margin-top: 60px;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.noVideoTitle {
  text-align: center;
  margin-top: 80px;
}

.roomButtonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 !important;
}

.inviteShareButton {
  display: flex;
  align-items: center;
}

.recentRoomsListContainer {
  margin: 10px;
}

.recentRoomsList {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.recentRoom {
  width: 100%;
  margin-bottom: 5px;
  background-color: white;
}
