.header {
  margin: 20px 0 20px 10px;
}

.greetings {
  display: flex;
  align-items: center;
}

.greetingsTitle {
  font-size: 20px;
}

.nameForm {
  margin-left: 5px;
}

.nameInput {
  font-size: 20px;
  background-color: transparent;
  border: 0;
}

.nameInput:focus {
  border: 0;
}

.actualRoomTitle {
  font-size: 12px;
}

.actualRoom {
  width: fit-content;
  margin-top: 5px;
}

.recentRoomsList {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.recentRoom {
  width: 100%;
  margin-bottom: 5px;
}

.createRoomForm {
  position: absolute;
  top: 20px;
  right: 10px;
}

.createRoomInput {
  width: 30vw;
}
