.header {
  z-index: 1;
  background-color: white;
}

.headerFirstLine {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.greetings {
  width: 35%;
  display: flex;
}

.currentRoomName {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.videoContainer {
  width: 100%;
  height: 70vh;
}

.RoomContainer {
}

.visibleContainer {
  height: 70vh;
}

.hiddenContainer {
  display: none;
}

.loadingContainer {
  height: 70vh;
  width: 50vh;
  padding-top: 30px;
  margin-left: calc((100vw - 50vh) / 2);
}

.loadingTitleContainer {
  left: 0;
  top: 60vh;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.loadingTitle {
  /* left: 0;
  top: 60vh;
  width: 100%;
  position: absolute; */
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  margin-right: 10px;
}

.messageContainer {
  width: 100%;
  bottom: 24vh;
  display: flex;
  position: absolute;
  justify-content: center;
}

.sendMessageInput {
  color: white !important;
  border-color: white !important;
}

.sendMessageButton {
  color: white !important;
}

.noRoomContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noRoomCameraContainer {
  width: 30vh;
  height: 30vh;
  margin-top: 10vh;
  border-radius: 15vh;
  overflow: hidden;
}

.noRoomCamera {
  height: 200%;
  width: 200%;
  margin-top: -50%;
}

.noRoomNoCameraImage {
  width: 30vh;
  height: 30vh;
  margin-top: 10vh;
  animation: rotate 10s infinite linear;
}

.noRoomTitleContainer {
  top: 60vh;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}

.noRoomTitle {
  font-size: 12px;
  font-weight: 200;
}

.noRoomCreateRoomButtom {
  font-weight: 800;
  color: #f50057;
  margin-left: 3px;
  text-decoration: underline #f50057;
}

.roomButtonContainer {
  height: 30px;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.initialButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.inviteShareButton {
  display: flex;
  align-items: center;
}

.controlPanel {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.initialControlPanel {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: absolute;
  top: 46vh;
}

.initialControlPanelButtonsContainer {
  display: flex;
  justify-content: center;
}

.controlPanelButton {
  padding: 0 20px !important;
}

.onlineRoomsListContainer {
  padding: 10px;
  margin-top: 30px;
}

.onlineRoomsListTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.onlineRoomsListIcon {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.onlineRoomsListTitle {
  font-size: 12px;
  font-weight: 800;
  color: #323232;
  margin-left: 5px;
}

.onlineRoomsList {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.onlineRoom {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 5px;
  margin: 5px 0;
}

.onlineRoomNameContainer {
  display: flex;
  max-width: 45%;
}

.onlineRoomName {
  font-size: 15px;
  font-weight: 600;
  color: #424242;
  overflow: hidden;
  text-overflow: ellipsis;
}

.onlineRoomUsersList {
  display: flex;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

.onlineRoomUserName {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
