.visibleContainer {
  height: 70vh;
}

.hiddenContainer {
  display: none;
}

.loadingContainer {
  //padding: 30%;
}

.loadingTitle {
  text-align: center;
  padding-top: 10px;
}

.loadingAnimation {
  padding-top: 30px;
}
