.visibleContainer {
  height: 70vh;
}

.hiddenContainer {
  display: none;
}

.loadingContainer {
  height: 70vh;
  margin-left: 20px;
}

.loadingTitle {
  margin-top: 10px;
}

.loadingAnimation {
  margin-top: 30px;
}
