.messageContainer {
  width: 100%;
  bottom: 80px;
  display: flex;
  position: absolute;
  justify-content: center;
}

.sendMessageInput {
  border-color: white !important;
}

.sendMessageButton {
  color: white !important;
}
