.container {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #42424266;
  border-radius: 5px;
  padding: 5px 15px;
}

.title {
  font-size: 20px;
}

.shareButton {
  margin-left: 15px;
}
