.headerFirstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greetings {
  width: 80%;
  display: flex;
  margin-left: 10px;
}

.greetingsInput {
  width: 100%;
  text-overflow: ellipsis;
}
