.noRoomContainer {
  height: 70vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  padding-top: 50px;
}

.coverImage {
  height: 50vh;
  position: absolute;
  margin-left: -30px;
}

.cameraContainer {
  width: 25vh;
  height: 20vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  border-radius: 15vh;
  margin-top: 10vh;
}

.camera {
  height: 200%;
  width: 200%;
  margin-top: -30%;
}

.noCameraImage {
  width: 30vh;
  height: 30vh;
  margin-top: 10vh;
  animation: rotate 10s infinite linear;
}

.createRoomButtom {
  font-weight: 800;
  color: #f50057;
  margin-left: 3px;
  text-decoration: underline #f50057;
}

.roomButtonContainer {
  top: calc(50vh + 100px);
  display: flex;
  position: absolute;
  justify-content: space-between;
}

.navigateButtomContainer {
  top: 50px;
  left: calc(50vw + 2vh);
  position: absolute;
}

.rotateImage {
  height: 40px;
  /* animation: rotate 10s infinite linear; */
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.navigateButton {
  color: #424242 !important;
  background-color: white !important;
  text-transform: capitalize !important;
}

.navigateButton::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 1.5em;
  transform: rotate(180deg);
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
